/* Projekt: Online Magasin - Anytime Treats - Lavet af Anne-Sofie Jespersen */

/* Google fonts (NB: load før :root) */
<style>
@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@100;300;700;800;900&display=swap');
</style>

/* Variabler: genbruges og gør designvalg enkle */
:root {
  /* farver */
  --white: #ffffff;
  --black: #000000;
  --grey: #b3aba9;
  --lightbrown: #d8c4ab;
  --pink: #e5b1c4;
  --green: #90a05a;
  --yellow: #fda51e;
  --red: #640a20;
  --lightyellow: #ebc266;
}

/* fonte */
  font-family {
:'Overpass', cursive; /* brødtekst */
    }

/* Baggrundsfarve */
body {
  background-color: #b3aba9;
}
/* Typografi med font*/
h1 {
font-family: Overpass;
text-align: left;
padding-left: 50px;
}
h2 {
  font-family: Overpass;
  text-align: left;
  padding-left: 50px;
}
h3 {
  font-family: Overpass;
  text-align: left;
  padding-left: 50px;
}
h4 {
  font-family: Overpass;
  text-align: left;
  padding-left: 50px;
}
p {
  font-family: Overpass;
  text-align: left;
  padding-left: 50px;
}

b {
  font-family: Overpass;
}

/* -------------------------------- Forside --------------------------------*/

/* Logo */
#logo {
  width: 150px;
  float: left;
  padding-left: 5%;
  padding-top: 0%;
}

/* Farve til menupunkt */
.hvidskrift {
  color: white;
}


/* Tekst på forsidebilledet */
#tekstforside {
  font-size: 24px;
}

/* Style til billede af citrontærte på forsiden */
#forsidebillede {
  width: 100%;
}

/* Style til menu med dropdown */
nav p {
  font-family: Overpass;
  color: var(--black);
  font-size: 24px;
  line-height: 55px;
  float: left;
  padding: 0px 20px;
}

nav ul {
  float: left;
}

nav ul li {
  float: left;
  list-style: none;
  position: relative;
}

nav ul li a {
  display: block;
  font-family: Overpass;
  color: var(--black);
  font-size: 14px;
  padding: 22px 14px;
  text-decoration: none;
}

nav ul li ul {
  display: none;
  position: absolute;
  background-color: white;
  padding: 10px;
  border-radius: 0px 0px 10px 0px;
}

nav ul li:hover ul {
  display: block;
}

nav ul li ul li {
  width: 180px;
  border-radius: 4px;
}

nav ul li ul li a {
  padding: 8px 14px;
}
nav ul li ul li a:hover{
  background-color:#d8c4ab;
}

/* Billeder ved seneste opskrifter */
* {
  box-sizing: border-box;
}

.column {
  float: left;
  width: 33.33%;
  padding: 10px;
  padding-radius: 0px 0px 50px 0px;
}

.row::after {
  content: "";
  display: table;
  clear: both;
}

/* Knapper til nyhedsbrev */
* {box-sizing: border-box}

input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #white;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #d8c4ab;
  outline: none;
}

hr {
  margin-bottom: 25px;
}

/* Set a style for all buttons */
button {
  background-color: white;
  color: black;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 80%;
  opacity: 0.9;
}

button:hover {
  opacity:1;
}

/* Float signup button and add an equal width */
.signupbtn {
  float: left;
  width: 50%;
  font-family: Overpass;
}

/* Add padding to container elements */
.container0 {
  padding: 40px;
}

/* Clear floats */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/* Change styles for signup button on extra small screens */
@media screen and (max-width: 300px) {
  .signupbtn {
     width: 100%;
  }
}

#citrontærte {
  width: 425px;
  height: auto;
  display: block;
  position: relative; left: 65%; top: 10%;
}

/* -------------------------------- Responsiv --------------------------------*/





/* ---------------------------Footer på alle sider---------------------------*/

nav {
  float: left;
}

nav footer{
  float: left;
  list-style: none;
  position: relative;
}


/* Footer - ikon Facebook */
.container {
  position: relative;
}

.icon {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-300%, -300%);
}

.footer {
  display: block;
  top: 0;
  left: 0;
  width: 100%;
}


/* Footer - ikon Instagram */
.container2 {
  position: relative;
}

.icon2 {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-100%, -300%);
}

/* Footer - ikon Pinterest */
.container3 {
  position: relative;
}

.icon3 {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(100%, -300%);
}



/* -------------------------Underside 1 - Lagekage -------------------------*/
/* Underside 1 - Lagekage */
.flexbox-container {
  display: flex;
  justify-content: flex-end;
  float: left;
}

.flexbox-container2 {
  display: flex;
  justify-content: flex-start;
  float: right;
}


.billede {
width: 425px;
margin-right: 40px;
margin-bottom: 40px;
margin-left: 40px;
}

.lyd {
  display: flex;
  justify-content: flex-end;
  margin-right: 40px;
  margin-top: 40px;
  margin-bottom: 40px;
}


/* -------------------------Underside 2 - Bananbrød -------------------------*/
#video {
float: left;
margin: 40px;
}
